.intro_wrapper {
    padding: 2rem var(--horizontal_padding);
}

@media screen and (min-width:650px) {
    .farm_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1000px) {
    .farm_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}