:root {
  --horizontal_padding: 1rem;
  --image_b_rad: 10px;
  --body_text: #373636;
  --input_bg: #EEEEEE;
  --body_bg: #F6F6F6;
  --primary_green: #80BB47;
  --pure_white: #ffffff;
  --accent_color: #E2EAD2;
  --footer_bg: #526a20;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  line-height: 1.5;
}

body {
  color: var(--body_text);
  font-size: 0.9rem;
}