.head_span {
    color: var(--primary_green);
}

.intro {
    padding: 2rem var(--horizontal_padding);
}

.browse_link {
    display: inline-block;
    border: none;
    border-radius: var(--image_b_rad);
    background: #80BB47;
    color: white;
    padding: 1rem 0;
    width: 60%;
    text-align: center;
    text-decoration: none;
}

.hero_img_wrapper {
    padding: 0 var(--horizontal_padding);
}

.section_2 {
    padding: 2rem var(--horizontal_padding);
}

.why_section {
    padding: 2rem var(--horizontal_padding);
}

.why_section h2 {
    margin-bottom: 2rem;
}

.why_section h2~div>div {
    margin-bottom: 2rem;
    display: flex;
    gap: 1.5rem;
}

.why_section h2~div>div span {
    color: #A3D671;
    font-size: 1.5rem;
    font-weight: bold;
}

.why_section h2~div h3 {
    margin-top: 0
}

.learn_more {
    display: inline-block;
    width: 40%;
    border: 1px solid var(--primary_green);
    text-align: center;
    padding: 0.8rem 0;
    border-radius: var(--image_b_rad);
    color: var(--body_text);
    text-decoration: none;
}

.how_it_works {
    padding: 0 var(--horizontal_padding);
}

.how_it_works h2 {
    margin-bottom: 2rem;
}

.how_it_works h2+div>div:nth-child(1) {
    margin-bottom: 2rem;
}

.how_it_works_details {
    margin-bottom: 2rem;
    display: flex;
    gap: 1.5rem;
}

.how_it_works_details span {
    color: #A3D671;
    font-size: 1.5rem;
    font-weight: bold;
}

.how_it_works_details p {
    margin-top: 0;
}

.how_it_works a {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--pure_white);
    background: var(--primary_green);
    padding: 0.8rem 0;
    border-radius: var(--image_b_rad);
}

.testimonial_section {
    padding: 2rem var(--horizontal_padding);
}

.client_profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.client_profile img {
    border-radius: 50%;
}

.client_profile p {
    margin: 0;
}

.client_profile p:nth-child(1) {
    font-weight: bold;
}

.testimonial_section h2 {
    margin-bottom: 2rem;
}

.testimonial_wrapper {
    background: var(--input_bg);
    padding: 2rem var(--horizontal_padding);
    border-radius: var(--image_b_rad);
    margin-bottom: 2rem;
}

.star_wrapper {
    display: flex;
    gap: 0.2rem;
    margin-top: 0.2rem;
}

.star_wrapper svg {
    width: 25px;
    height: 25px;
    fill: var(--primary_green);
}

.featured h2 {
    padding: 0 var(--horizontal_padding);
    margin-bottom: 2rem;
}

.featured+div {
    padding: var(--horizontal_padding);
}

@media screen and (min-width:800px) {
    .page_intro {
        display: flex;
        padding: 3rem 0;
    }

    .section_2 h2+div,
    .how_it_works h2+div {
        display: flex;
        gap: 2rem;
    }

    .section_2 p {
        width: 80ch;
        line-height: 1.7;
    }

    .grid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .how_it_works h2+div>div:nth-child(1) {
        margin-bottom: 0;
        width: 30%;
    }

    .testimonial_section h2+div {
        display: flex;
        gap: 2rem;
    }

    .featured h2+div {
        display: flex;
    }
}